In [1]:
.libPaths(R.home('/opt/homebrew/Caskroom/miniforge/base/lib/R/library'))
Output = '/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/PHE Database/2. Coding/2.3. Data Wrangling/Output'
cur_date = '081925'

library(readxl)
library(tidyverse)
library(reshape2)
library(lubridate)
library(oce)
library(tigris)

# reading in files
ohio_tmax_2020_df = read_csv("Input/Ohio_Tmax_2020.csv")
ohio_tmax_2021_df = read_csv('Input/Ohio_Tmax_2021.csv')
ohio_tmax_2022_df = read_csv('Input/Ohio_Tmax_2022.csv')
ohio_PM_2020_df = read_csv('Input/Ohio_PM_2020.csv')
ohio_PM_2021_df = read_csv('Input/Ohio_PM_2021.csv')
ohio_PM_2022_df = read_csv('Input/Ohio_PM_2022.csv')
ohio_tmin_2020_df = read_csv('Input/Ohio_Tmin_2020.csv')
ohio_tmin_2021_df = read_csv('Input/Ohio_Tmin_2021.csv')
ohio_tmin_2022_df = read_csv('Input/Ohio_Tmin_2022.csv')
ohio_HI_2020_df = read_csv('Input/Ohio_HI_2020.csv')
ohio_HI_2021_df = read_csv('Input/Ohio_HI_2021.csv')
ohio_HI_2022_df = read_csv('Input/Ohio_HI_2022.csv')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘reshape2’


The following object is masked from ‘package:tidyr’:

    smiths


Loading required package: gsw

To enable caching of data, set `options(tigris_use_cache = TRUE)`
in your R script or .Rprofile.

Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [2]:
head(ohio_tmax_2020_df)

  DOY x       y       Value
1 50  2032326 4815818 76.1
2 50  2033252 4815818 76.1
3 50  2030473 4814892 75.9
4 50  2031399 4814892 76.9
5 50  2032326 4814892 76.5
6 50  2033252 4814892 76.5

In [3]:
convert_date = function(df, collection_year, variable){
    # """
    # Creating a function to convert day of the year into a date with the month, day, and year
    # :param (input): dataframe, year the data was collected, variable name
    # :output: 1 df containing the coordinates, value, date of collection, variable name
    # """
    
    new_df = df %>%
        mutate(Month = month(as_date(DOY)), Day = mday(as_date(DOY)), Year = collection_year,
           Date = format(make_date(month = Month, day = Day, year = Year), format = "%m/%d/%Y"),
           # adding in the variable's name
           VariableName = variable) %>%
        select(-c('DOY', "Month", "Day", "Year")) 

    return(new_df)
    }

# calling fn
converted_tmax_2020_df = convert_date(ohio_tmax_2020_df, 2020, 'Maximum Temperature')
converted_tmax_2021_df = convert_date(ohio_tmax_2021_df, 2021, 'Maximum Temperature')
converted_tmax_2022_df = convert_date(ohio_tmax_2022_df, 2022, 'Maximum Temperature')
converted_HI_2020_df = convert_date(ohio_HI_2020_df, 2020, 'Heat Index')
converted_HI_2021_df = convert_date(ohio_HI_2021_df, 2021, 'Heat Index')
converted_HI_2022_df = convert_date(ohio_HI_2022_df, 2022, 'Heat Index')
converted_tmin_2020_df = convert_date(ohio_tmin_2020_df, 2020, 'Minimum Temperature')
converted_tmin_2021_df = convert_date(ohio_tmin_2021_df, 2021, 'Minimum Temperature')
converted_tmin_2022_df = convert_date(ohio_tmin_2022_df, 2022, 'Minimum Temperature')
# moving around these col names here to combine dfs below
converted_PM_2020_df = convert_date(ohio_PM_2020_df, 2020, 'PM2.5') %>%
    rename(Latitude = y, Longitude = x) %>%
    relocate(c("Latitude", "Longitude"), .after = VariableName)
converted_PM_2021_df = convert_date(ohio_PM_2021_df, 2021, 'PM2.5') %>%
    rename(Latitude = y, Longitude = x) %>%
    relocate(c("Latitude", "Longitude"), .after = VariableName)
converted_PM_2022_df = convert_date(ohio_PM_2022_df, 2022, 'PM2.5') %>%
    rename(Latitude = y, Longitude = x) %>%
    relocate(c("Latitude", "Longitude"), .after = VariableName)

head(converted_tmax_2020_df)

  x       y       Value Date       VariableName
1 2032326 4815818 76.1  02/20/2020 Maximum Temperature
2 2033252 4815818 76.1  02/20/2020 Maximum Temperature
3 2030473 4814892 75.9  02/20/2020 Maximum Temperature
4 2031399 4814892 76.9  02/20/2020 Maximum Temperature
5 2032326 4814892 76.5  02/20/2020 Maximum Temperature
6 2033252 4814892 76.5  02/20/2020 Maximum Temperature

In [4]:
convert_coordinates = function(df){
    # """
    # Creating a function to convert UTM coordinates to latitude and longitude
    # :param (input): dataframe
    # :output: dataframe
    # """

    coordinates_df = df %>%
        # zone 14 is for Ohio
        mutate(Latitude = utm2lonlat(easting = x, northing = y, zone = 14)[[1]],
              Longitude = utm2lonlat(easting = x, northing = y, zone = 14)[[2]]) %>%
        select(-c('x', 'y')) 
    
    return(coordinates_df)
}

# calling fn
final_tmax_2020_df = convert_coordinates(converted_tmax_2020_df)
final_tmax_2021_df = convert_coordinates(converted_tmax_2021_df)
final_tmax_2022_df = convert_coordinates(converted_tmax_2022_df)
final_HI_2020_df = convert_coordinates(converted_HI_2020_df)
final_HI_2021_df = convert_coordinates(converted_HI_2021_df)
final_HI_2022_df = convert_coordinates(converted_HI_2022_df)
final_tmin_2020_df = convert_coordinates(converted_tmin_2020_df)
final_tmin_2021_df = convert_coordinates(converted_tmin_2021_df)
final_tmin_2022_df = convert_coordinates(converted_tmin_2022_df)

head(final_tmax_2020_df)

  Value Date       VariableName        Latitude  Longitude
1 76.1  02/20/2020 Maximum Temperature -80.53294 41.98001
2 76.1  02/20/2020 Maximum Temperature -80.52234 41.97824
3 75.9  02/20/2020 Maximum Temperature -80.55653 41.97562
4 76.9  02/20/2020 Maximum Temperature -80.54592 41.97386
5 76.5  02/20/2020 Maximum Temperature -80.53531 41.97209
6 76.5  02/20/2020 Maximum Temperature -80.52471 41.97032

Now breaking these data up into the dataframes that they will be stored in for the database. We'll have separate dataframes for each year.

In [5]:
twenty20_df = rbind(converted_PM_2020_df, final_HI_2020_df, final_tmax_2020_df, final_tmin_2020_df)
twenty21_df = rbind(converted_PM_2021_df, final_HI_2021_df, final_tmax_2021_df, final_tmin_2021_df)
twenty22_df = rbind(converted_PM_2022_df, final_HI_2022_df, final_tmax_2022_df, final_tmin_2022_df)

In [13]:
split_dfs = function(df){
    # """
    # Creating a function to add in georaphic id and variable ids
    # :param (input): dataframe
    # :output: a list of dataframes for geography, variable, value
    # """

    new_df = df %>%
        mutate(Num = 1:n(), GeographyWID = paste0('GEOW', Num), ValueID = paste0('Val', Num),
              VariableID = ifelse(VariableName == "PM2.5", 'PM',
                                      ifelse(VariableName == "Maximum Temperature",'MaxT',
                                          ifelse(VariableName == "Minimum Temperature", 'MinT',
                                              ifelse(VariableName == "Heat Index", 'HI', NA))))) %>%
        select(-Num)

    # creating the geography weather df
    geo_df = unique(new_df[,c(6,4,5)])

    # creating the variable df
    var_df = unique(new_df[,c(8,3)]) %>%
        # adding in units
        mutate(DataUnitName = ifelse(VariableName == "PM2.5", 'mcg/m^3',
                                      ifelse(VariableName == "Maximum Temperature",'Fahrenheit',
                                          ifelse(VariableName == "Minimum Temperature", 'Fahrenheit',
                                              ifelse(VariableName == "Heat Index", 'Fahrenheit', NA)))))

    # value df
    value_df = new_df[,c(7,8,6,2,1)] 

    return(list(geo_df, var_df, value_df))
}

# calling fn
split_twenty20_dfs = split_dfs(twenty20_df)
split_twenty21_dfs = split_dfs(twenty21_df)
split_twenty22_dfs = split_dfs(twenty22_df)

In [14]:
# viewing
head(split_twenty20_dfs[[1]])
head(split_twenty20_dfs[[2]])
head(split_twenty20_dfs[[3]])

  GeographyWID Latitude Longitude
1 GEOW1        41.9661  -80.585
2 GEOW2        41.9661  -80.555
3 GEOW3        41.9661  -80.525
4 GEOW4        41.9361  -80.675
5 GEOW5        41.9361  -80.645
6 GEOW6        41.9361  -80.615

  VariableID VariableName        DataUnitName
1 PM         PM2.5               mcg/m^3
2 HI         Heat Index          Fahrenheit
3 MaxT       Maximum Temperature Fahrenheit
4 MinT       Minimum Temperature Fahrenheit

  ValueID VariableID GeographyWID Date       Value
1 Val1    PM         GEOW1        07/08/2020 12.0
2 Val2    PM         GEOW2        07/08/2020 12.0
3 Val3    PM         GEOW3        07/08/2020 11.9
4 Val4    PM         GEOW4        07/08/2020 12.2
5 Val5    PM         GEOW5        07/08/2020 12.2
6 Val6    PM         GEOW6        07/08/2020 12.1

Adding in additional geography data like census tract, county name, and the FIPS code to the geography dataframes.

In [22]:
# download shapefile from the tigris (census package)
ohio_county_shapefile = data.frame(tracts(state = "Ohio", year = 2020)[,c(2,4,5,11,12)]) %>%
    rename(FIPS = GEOID, CensusTract = NAME, Latitude = INTPTLON, Longitude = INTPTLAT) %>%
    select(-geometry) %>%
    mutate(Latitude = as.numeric(Latitude), Longitude = as.numeric(Longitude))

head(ohio_county_shapefile)

  COUNTYFP FIPS        CensusTract Longitude Latitude
1 153      39153533102 5331.02     41.24444  -81.41674
2 153      39153533200 5332        41.21832  -81.41640
3 029      39029951600 9516        40.72806  -80.58597
4 093      39093070600 706         41.37921  -82.09238
5 093      39093097100 971         41.12235  -82.26356
6 093      39093010200 102         41.50711  -82.01240

Finding the min and max latitude and longitude coordinates for each census tract in order to figure out what census tract each pair of coordinates reside in.

In [23]:
length(unique(ohio_county_shapefile$CensusTract))

[1] 2514

Ohio actually has 2,952 census tracts, meaning we're missing about 400 from the tracts that were downloaded from the `tigris` package.

In [25]:
min_max_coord_df = ohio_county_shapefile %>%
    group_by(CensusTract) %>%
    summarize(min_long = min(Longitude), max_long = max(Longitude),
            min_lat = min(Latitude), max_lat = max(Latitude))

head(min_max_coord_df)

  CensusTract min_long max_long min_lat   max_lat
1 1           39.35855 41.43686 -84.55411 -81.92987
2 1.01        41.92455 41.92455 -80.59875 -80.59875
3 1.02        41.95816 41.95816 -80.55897 -80.55897
4 1.03        41.94151 41.94151 -80.56908 -80.56908
5 1.10        40.05899 40.05899 -83.01276 -83.01276
6 1.20        40.05105 40.05105 -83.02368 -83.02368

In [18]:
geography_2020_df = head(split_twenty20_dfs[[1]]) %>%
    mutate(DataUnitName = ifelse(VariableName == "PM2.5", 'mcg/m^3',
                                      ifelse(VariableName == "Maximum Temperature",'Fahrenheit',
                                          ifelse(VariableName == "Minimum Temperature", 'Fahrenheit',
                                              ifelse(VariableName == "Heat Index", 'Fahrenheit', NA)))))
head(geography_2020_df

        GeographyWID Latitude  Longitude
1       GEOW1        41.9661   -80.585
2       GEOW2        41.9661   -80.555
3       GEOW3        41.9661   -80.525
4       GEOW4        41.9361   -80.675
5       GEOW5        41.9361   -80.645
6       GEOW6        41.9361   -80.615
7       GEOW7        41.9361   -80.585
8       GEOW8        41.9361   -80.555
9       GEOW9        41.9361   -80.525
10      GEOW10       41.9061   -80.795
11      GEOW11       41.9061   -80.765
12      GEOW12       41.9061   -80.735
13      GEOW13       41.9061   -80.705
14      GEOW14       41.9061   -80.675
15      GEOW15       41.9061   -80.645
16      GEOW16       41.9061   -80.615
17      GEOW17       41.9061   -80.585
18      GEOW18       41.9061   -80.555
19      GEOW19       41.9061   -80.525
20      GEOW20       41.8761   -80.885
21      GEOW21       41.8761   -80.855
22      GEOW22       41.8761   -80.825
23      GEOW23       41.8761   -80.795
24      GEOW24       41.8761   -80.765
25      GEOW25       41.8761   -80.735
26      GEOW26       41.8761   -80.705
27      GEOW27       41.8761   -80.675
28      GEOW28       41.8761   -80.645
29      GEOW29       41.8761   -80.615
30      GEOW30       41.8761   -80.585
⋮       ⋮            ⋮         ⋮
4194271 GEOW4194271  -83.53468 41.64729
4194272 GEOW4194272  -83.52395 41.64581
4194273 GEOW4194273  -83.51323 41.64433
4194274 GEOW4194274  -83.50251 41.64284
4194275 GEOW4194275  -83.49179 41.64136
4194276 GEOW4194276  -83.48107 41.63988
4194277 GEOW4194277  -83.47035 41.63839
4194278 GEOW4194278  -83.45963 41.63691
4194279 GEOW4194279  -83.44891 41.63542
4194280 GEOW4194280  -83.43820 41.63393
4194281 GEOW4194281  -83.42748 41.63245
4194282 GEOW4194282  -83.41677 41.63096
4194283 GEOW4194283  -83.40605 41.62947
4194284 GEOW4194284  -83.39534 41.62798
4194285 GEOW4194285  -83.38462 41.62648
4194286 GEOW4194286  -83.37391 41.62499
4194287 GEOW4194287  -83.36320 41.62350
4194288 GEOW4194288  -83.35249 41.62200
4194289 GEOW4194289  -83.34178 41.62051
4194290 GEOW4194290  -83.33107 41.61901
4194291 GEOW4194291  -83.32036 41.61751
4194292 GEOW4194292  -83.30966 41.61601
4194293 GEOW4194293  -83.29895 41.61451
4194294 GEOW4194294  -83.28824 41.61301
4194295 GEOW4194295  -83.27754 41.61151
4194296 GEOW4194296  -83.26684 41.61001
4194297 GEOW4194297  -83.25613 41.60851
4194298 GEOW4194298  -83.24543 41.60700
4194299 GEOW4194299  -83.23473 41.60550
4194300 GEOW4194300  -83.22403 41.60399