In [1]:
.libPaths(R.home('/opt/homebrew/Caskroom/miniforge/base/lib/R/library'))
Output = '/Users/alexis/Library/CloudStorage/OneDrive-UniversityofNorthCarolinaatChapelHill/PHE Database/2. Coding/2.4. Data Wrangling/Output'
cur_date = '080825'

library(readxl)
library(tidyverse)
library(reshape2)
library(lubridate)
library(oce)

# reading in files
ohio_tmax_2020_df = read_csv("Input/Ohio_Tmax_2020.csv")

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘reshape2’


The following object is masked from ‘package:tidyr’:

    smiths


Loading required package: gsw

Rows: 1048575 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): DOY, x, y, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [2]:
head(ohio_tmax_2020_df)

  DOY x       y       Value
1 50  2032326 4815818 76.1
2 50  2033252 4815818 76.1
3 50  2030473 4814892 75.9
4 50  2031399 4814892 76.9
5 50  2032326 4814892 76.5
6 50  2033252 4814892 76.5

In [3]:
convert_date = function(df, collection_year){
    # converting the day of the year into a date with the month, day, and year
    
    new_df = df %>%
        mutate(Month = month(as_date(DOY)), Day = mday(as_date(DOY)), Year = collection_year,
           Date = format(make_date(month = Month, day = Day, year = Year), format = "%m/%d/%Y")) %>%
        select(-c('DOY', "Month", "Day", "Year"))

    return(new_df)
    }

# calling fn
converted_tmax_2020_df = convert_date(ohio_tmax_2020_df, 2020)

head(converted_tmax_2020_df)

  x       y       Value Date
1 2032326 4815818 76.1  02/20/2020
2 2033252 4815818 76.1  02/20/2020
3 2030473 4814892 75.9  02/20/2020
4 2031399 4814892 76.9  02/20/2020
5 2032326 4814892 76.5  02/20/2020
6 2033252 4814892 76.5  02/20/2020

In [28]:
convert_coordinates = function(df){
    # converting utm coordinates to latitude and longitude

    coordinates_df = df %>%
        # zone 14 is for Ohio
        mutate(Latitude = utm2lonlat(easting = x, northing = y, zone = 14)[[1]],
              Longitude = utm2lonlat(easting = x, northing = y, zone = 14)[[2]]) %>%
        select(-c('x', 'y'))
    
    return(coordinates_df)
}

# calling fn
final_tmax_2020_df = convert_coordinates(converted_tmax_2020_df)

head(final_tmax_2020_df)

  Value Date       Latitude  Longitude
1 76.1  02/20/2020 -80.53294 41.98001
2 76.1  02/20/2020 -80.52234 41.97824
3 75.9  02/20/2020 -80.55653 41.97562
4 76.9  02/20/2020 -80.54592 41.97386
5 76.5  02/20/2020 -80.53531 41.97209
6 76.5  02/20/2020 -80.52471 41.97032

Now breaking these data up into the dataframes that they will be stored in for the database. We'll have separate dataframes for each year.